    html, body {
        color: #636b6f;
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        height: 100vh;
        margin: 0;
        animation: bgcolor infinite 8s;
    }
    @keyframes bgcolor{
        0%
        {
            background:rgba(0,0,255,0.3);
        }
        20%
        {
            background:#2980b9;
        }
        40%
        {
            background:#62b8f0;
        }
        60%
        {
            background:#8e44ad;
        }
        80%
        {
            background:#34495e;
        }
        100%
        {
            background:rgba(0,0,255,0.3);
        }
    }

    .full-height {
        height: 100vh;
    }

    .flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .position-ref {
        position: relative;
    }

    .top-right {
        position: absolute;
        right: 10px;
        top: 18px;
    }

    .content {
        text-align: center;

    }

    .title {
        font-size: 84px;
    }

    .links > a{
        color: lightgray;
        padding: 0 25px;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }

    a:hover{
        color:white;
    }

    .m-b-md {
        margin-bottom: 30px;
    }

    .savingIcon{
        width:100px;
        height:100px;
        padding:10px 10px 10px 10px;
    }

    .positionIcon-title{
        top:90;
        position:fixed;
    }

    .column{
        float:left;
        width:25%;
        padding:10px;
        height:300px;
    }

    * {
      box-sizing: border-box;
    }

    .iconFirstPage{
        border-top-left-radius:25%;
        border-top-right-radius:25%;
        border-bottom-left-radius:25%;
        border-bottom-right-radius:25%;
        width:64px;
        height:64px;
        padding:10px 10px 10px 10px;
        background-color:white;
    }
